*{
    margin: 0;
    padding: 0;
}
.pancardnav_0{
    padding: 7px 1.5cm;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pancardnav_0 > div{
    /* border: 1px solid red; */
    font-size: 30px;
    /* color: white; */
}
.pancardnav_0 > div > a>img{
    width: 80px;
}

.pancardnav_1{
    display: flex;
    justify-content: space-between;
    background-color: rgb(10, 156, 248);
    color: white;
}
.pancardnav_1 > div{
    display: flex;
    margin: 0 15px;
    /* border: 1px solid red; */
}
.pancardnav_1 > div > div{
    display: flex;
    align-items: center;
    margin: 10px;
}
.pancardnav_1 > div > div > a > p{
    font-size: 15px;
}

@media screen and (min-width:0px) and (max-width:700px){
.pancardnav_0{
    display: flex;
    justify-content: space-between;
    padding: 7px;
}
.pancardnav_0 > div > a > p{
    color: whitesmoke;
    font-size: 13.5px;
}
.pancardnav_0{
    padding: 10px;
}
.pancardnav_0 > div{
    font-size: 16px;
    font-weight: bold;
}
.pancardnav_0 > div >a> img{
    width: 50px;
}
}

@media screen and (min-width:0px) and (max-width:600px){
.pancardnav_1 > div > div > a > p{
    font-size: 12px;
}
}