*{
    margin: 0;
    padding: 0;
}
.pancardnav_0{
    padding: 5px 1.5cm;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pancardnav_0 > div{
    font-size: 30px;
    font-weight: bold;
}

.pancardnav_0 > div>:nth-child(1){
    color:teal;
    text-shadow: 
      1px 0px 1px #ccc, 0px 1px 1px #eee, 
      2px 1px 1px #ccc, 1px 2px 1px #eee,
      3px 2px 1px #ccc, 2px 3px 1px #eee,
      4px 3px 1px #ccc, 3px 4px 1px #eee,
      5px 4px 1px #ccc, 4px 5px 1px #eee,
      6px 5px 1px #ccc, 5px 6px 1px #eee,
      7px 6px 1px #ccc;
    
}
.pancardnav_0 > div>:nth-child(2){
    color: teal;
    text-shadow: 
      1px 0px 1px #ccc, 0px 1px 1px #eee, 
      2px 1px 1px #ccc, 1px 2px 1px #eee,
      3px 2px 1px #ccc, 2px 3px 1px #eee,
      4px 3px 1px #ccc, 3px 4px 1px #eee,
      5px 4px 1px #ccc, 4px 5px 1px #eee,
      6px 5px 1px #ccc, 5px 6px 1px #eee,
      7px 6px 1px #ccc;
    
}
.pancardnav_0 > div>:nth-child(3){
    color:teal;
  text-shadow: 
    1px 0px 1px #ccc, 0px 1px 1px #eee, 
    2px 1px 1px #ccc, 1px 2px 1px #eee,
    3px 2px 1px #ccc, 2px 3px 1px #eee,
    4px 3px 1px #ccc, 3px 4px 1px #eee,
    5px 4px 1px #ccc, 4px 5px 1px #eee,
    6px 5px 1px #ccc, 5px 6px 1px #eee,
    7px 6px 1px #ccc;
    
}



.pancardnav_0 > div > a > img{
    width: 70px;
}

.pancardnav_1{
    display: flex;
    justify-content: space-between;
    background-color: #313131;
    color: white;
}
.pancardnav_1 > div{
    display: flex;
    margin: 0 10px;
    /* border: 1px solid red; */
}
.pancardnav_1 > div > div{
    display: flex;
    align-items: center;
    padding: 6px 10px;
    margin-bottom: 1.5px;
    transition: 0.4s ease;
    border-bottom: 1.5px solid #ffd12a00;
}
.pancardnav_1 > div > div:hover{
    border-bottom: 1.5px solid #00aeff;
}
.pancardnav_1 > div > div > a > p{
    font-size: 15px;
}

@media screen and (min-width:0px) and (max-width:700px){
.pancardnav_0{
    display: flex;
    justify-content: space-between;
    padding: 5px 7px;
}
.pancardnav_0 > div > a > p{
    color: whitesmoke;
    font-size: 13.5px;
}
.pancardnav_0{
    padding: 10px;
}
.pancardnav_0 > div{
    font-size: 27px;
    font-weight: bold;
}
.pancardnav_0 > div > a > img{
    width: 55px;
}
}

@media screen and (min-width:0px) and (max-width:600px){
.pancardnav_0 > div{
    font-size: 17px;
    font-weight: bold;
}
.pancardnav_1 > div > div > a > p{
    font-size: 14px;
}
.pancardnav_1 > div{
    display: flex;
    margin: 0 5px;
}

}