*{
    margin: 0;
    padding: 0;
}
/* dashboard_1 */

.dashboard_1{
    /* background-color: rgba(48, 162, 255, 0.447); */
    border: 1.5px solid #00aeff;
    width: 65%;
    margin: 1cm auto;
    padding: 20px 20px;
    text-align: center;
    border-radius: 15px;
}
.dashboard_1 > p{
    margin: 5px 0;
    font-size: 15px
}
/* dashboard_2 */

.dashboard_2{
    display: grid;
    width: 65%;
    margin: auto;
    grid-template-columns: repeat(3,1fr);
    gap: 15px;
}
.dashboard_2 > div{
    padding: 15px 10px;
    text-align: center;
    background-color: #00aeff;
    border: 1.4px solid #00aeff;
    color: whitesmoke;
    font-weight: bold;
    border-radius: 10px;
    transition: 0.4s ease;
}
.dashboard_2 > div:hover{
    background-color:  #ffffffd3;
    color: grey;
}
.dashboard_2 > div > a > p{
    font-size: 16px;
}

@media screen and (min-width:0px) and (max-width:1000px){
.dashboard_2{
    display: grid;
    width: 85%;
    margin: auto;
    grid-template-columns: repeat(3,1fr);
    gap: 15px;
}
.dashboard_2 > div{
    padding: 15px 7px;
}
.dashboard_2 > div > a > p{
    font-size: 14px;
}
}
@media screen and (min-width:0px) and (max-width:700px){
.dashboard_1{
    width: 93%;
}
.dashboard_2{
    display: grid;
    width: 93%;
    margin: auto;
    grid-template-columns: repeat(3,1fr);
    gap: 15px;
}
.dashboard_2 > div{
    padding: 15px 7px;
}
.dashboard_2 > div > a > p{
    font-size: 13px;
}
}

@media screen and (min-width:0px) and (max-width:600px){
.dashboard_1{
    width: 85%;
    text-align:start;
}
.dashboard_2{
    display: grid;
    width: 85%;
    margin: auto;
    grid-template-columns: repeat(1,1fr);
    gap: 15px;
}
.dashboard_2 > div{
    padding: 15px 7px;
}
.dashboard_2 > div > a > p{
    font-size: 15px;
}
.dashboard_1 > p{
    margin: 5px 0;
    font-size: 13px
}
}