*{
    margin: 0;
    padding: 0;
}
/* dashboard_1 */

.dashboard_1{
    background-color: rgba(48, 162, 255, 0.447);
    width: 80%;
    margin: 1cm auto;
    padding: 20px 15px;
    text-align: center;
    border-radius: 15px;
}
.dashboard_1 > p{
    margin: 5px 0;
}
/* dashboard_2 */

.dashboard_2{
    display: grid;
    width: 80%;
    margin: auto;
    grid-template-columns: repeat(3,1fr);
    gap: 15px;
}
.dashboard_2 > div{
    padding: 15px 10px;
    text-align: center;
    background-color: rgb(10, 156, 248);
    color: white;
    border-radius: 10px;
    transition: 0.4s ease;
}
.dashboard_2 > div:hover{
    background-color: rgb(81, 188, 255);
}