*{
    margin: 0;
    padding: 0;
}
.newpancard_2{
    width: 80%;
    margin: 1cm auto;
    text-align: center;
}
.newpancard_2 > div{
    background-color: #00aeff;
    border: 1.5px solid #00aeff;
    color: rgb(33, 33, 33);
    margin: 15px 0px;
    padding: 17px 10px;
    border-radius: 10px;
    transition: 0.3s ease;
}
.newpancard_2 > div > a > p{
    font-size: 18px;
}
.newpancard_2 > div > a > p > i{
    font-size: 15px;
    font-weight: lighter;
    color: #00547a;
    font-family: Arial, Helvetica, sans-serif;
}

.newpancard_2 > div:hover{
    background-color: white;
}

@media screen and (min-width:0px) and (max-width:700px){
.newpancard_2{
    width: 93%;
}
}
@media screen and (min-width:0px) and (max-width:550px){
.newpancard_2{
    width: 90%;
}
.newpancard_2 > div > a > p > i{
    font-size: 13px;
}
}