*{
    margin: 0;
    padding: 0;
}
.contact_0{
    width: 80%;
    margin: 1cm auto;
    /* border: 1px solid red; */
}
.contact_0 > h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(64, 64, 64);
    margin: 1cm 0;
}
.contact_1 > div{
    display: flex;
    justify-content: space-between;
    margin: 20px 10px;
    /* border: 1px solid blue; */
}
.contact_1 > div > input{
    width: 45%;
    height: 35px;
    padding-left: 15px;
}
.contact_1 > div > textarea{
    width: 100%;
    height: 80px;
    padding-left: 15px;
    padding-top: 10px;
}
.contact_1 > div > input::placeholder{
    padding-left: 10px;
}
.contact_1 > div > textarea::placeholder{
    padding-left: 10px;
    padding-top: 10px;
}
.contact_1 > div > button{
    width: 250px;
    height: 50px;
    background-color: rgba(23, 151, 255, 0.587);
    color: white;
    border: 0;
    transition: 0.4s ease;
}
.contact_1 > div > button:hover{
    border: 1.4px solid rgba(23, 151, 255, 0.587);
    color: rgba(23, 151, 255, 0.822);
    background-color: white;
}
/* contact_2 */

.contact_2{
    width: 90%;
    border-radius: 15px;
    margin: 1cm auto;
    padding: 20px 10px;
    border: 1.3px solid rgba(23, 151, 255, 0.822);
}
.contact_2 > p{
    text-align: center;
}