*{
    margin: 0;
    padding: 0;
}
.pancard_0{
    display: flex;
    justify-content: space-between;
    background-color: rgb(10, 156, 248);
    color: white;
}
.pancard_0 > div{
    display: flex;
    margin: 0 10px;
}
.pancard_0 > div > div{
    display: flex;
    align-items: center;
    margin: 10px;
}
.pancard_0 > div > div > select{
    background-color: rgb(10, 156, 248);
    display: flex;
    align-items: center;
    width: 80px;
}
.pancard_0 > div > div > select > option{
    background-color: white;
    color: rgb(45, 45, 45);
}
/* pancard_1 */

.pancard_1{
    background-color: rgba(48, 162, 255, 0.447);
    width: 80%;
    margin: 1cm auto;
    padding: 20px 15px;
    text-align: center;
    border-radius: 15px;
}
.pancard_1 > p{
    margin: 5px 0;
}

.pancard_2{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    margin: auto;
}
.pancard_2 > div{
    background-color: rgb(10, 156, 248);
    text-align: center;
    padding: 15px 10px;
    color: white;
    border: 1.5px solid rgb(47, 175, 255);;
    border-radius: 7px;
    transition: 0.4s ease;
}
.pancard_2 > div:hover{
    background-color: white;
    color: rgb(0, 155, 251);;
}
