*{
    margin: 0;
    padding: 0;
}
.navbar_1{
    padding: 7px 1.5cm;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: rgb(30, 212, 253); */
}
.navbar_1 > div{
    /* border: 1px solid red; */
    font-size: 30px;
}
.navbar_1 > div >a> img{
    width: 80px;
}
.navbar_2{
    background-color: rgb(10, 156, 248);
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar_2 > div{
    display: flex;
    align-items: center;
    padding: 0 10px;
}
.navbar_2 > div > a{
    text-decoration: none;
}
.navbar_2 > div > a > p{
    color: whitesmoke;
    font-size: 15px;
}

@media screen and (min-width:0px) and (max-width:700px){
.navbar_2{
    display: flex;
    justify-content: space-between;
    padding: 7px;
}
.navbar_2 > div > a > p{
    color: whitesmoke;
    font-size: 13.5px;
}
.navbar_1{
    padding: 10px;
}
.navbar_1 > div{
    font-size: 16px;
    font-weight: bold;
}
.navbar_1 > div >a> img{
    width: 50px;
}
}