*{
    margin: 0;
    padding: 0;
}
.navbar_1{
    padding: 7px 1.5cm;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: rgb(30, 212, 253); */
}
.navbar_1 > div{
    /* border: 1px solid red; */
    font-size: 30px;
    font-weight: bold;
}

.navbar_1 > div>:nth-child(1){
    color:teal;
    text-shadow: 
      1px 0px 1px #ccc, 0px 1px 1px #eee, 
      2px 1px 1px #ccc, 1px 2px 1px #eee,
      3px 2px 1px #ccc, 2px 3px 1px #eee,
      4px 3px 1px #ccc, 3px 4px 1px #eee,
      5px 4px 1px #ccc, 4px 5px 1px #eee,
      6px 5px 1px #ccc, 5px 6px 1px #eee,
      7px 6px 1px #ccc;
    
}
.navbar_1 > div>:nth-child(2){
    color: teal;
    text-shadow: 
      1px 0px 1px #ccc, 0px 1px 1px #eee, 
      2px 1px 1px #ccc, 1px 2px 1px #eee,
      3px 2px 1px #ccc, 2px 3px 1px #eee,
      4px 3px 1px #ccc, 3px 4px 1px #eee,
      5px 4px 1px #ccc, 4px 5px 1px #eee,
      6px 5px 1px #ccc, 5px 6px 1px #eee,
      7px 6px 1px #ccc;
    
}
.navbar_1 > div>:nth-child(3){
    color:teal;
  text-shadow: 
    1px 0px 1px #ccc, 0px 1px 1px #eee, 
    2px 1px 1px #ccc, 1px 2px 1px #eee,
    3px 2px 1px #ccc, 2px 3px 1px #eee,
    4px 3px 1px #ccc, 3px 4px 1px #eee,
    5px 4px 1px #ccc, 4px 5px 1px #eee,
    6px 5px 1px #ccc, 5px 6px 1px #eee,
    7px 6px 1px #ccc;
    
}

.navbar_1 > div >a> img{
    width: 70px;
}
.navbar_2{
    background-color: rgb(38, 38, 38);
    font-family: Arial, Helvetica, sans-serif;
}
.navbar_2 > div{
    width: 85%;
    display: flex;
    align-items: center;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 12px;
}
.navbar_2 > div > div > a{
    text-decoration: none;
}
.navbar_2 > div > div > a > p{
    color: white;
    font-size: 15px;
    transition: 0.4s ease;
}
.navbar_2 > div > div > a > p:hover{
    color: #00aeff;
}

@media screen and (min-width:0px) and (max-width:700px){
.navbar_2{
    display: flex;
    justify-content: space-between;
    padding: 7px;
}
.navbar_2 > div > a > p{
    color: whitesmoke;
    font-size: 13.5px;
}
.navbar_1{
    padding: 10px;
}
.navbar_1 > div{
    font-size: 16px;
    font-weight: bold;
}
.navbar_1 > div >a> img{
    width: 50px;
}
}