*{
    margin: 0;
    padding: 0;
}
.dashboardFooter_0{
    width: 80%;
    color: grey;
    display: flex;
    justify-content: space-around;
    margin: 10px auto;
}
.dashboardFooter_0 > a > p{
    margin: 10px;
}
.dashboardFooter_0 > a > p:hover{
    color: rgb(10, 156, 248);
}