*{
    margin: 0;
    padding: 0;
}
.dashboardNav_100{
    padding: 5px 1.5cm;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dashboardNav_100 > div{
    font-size: 30px;
}
.dashboardNav_100 > div > a > img{
    width: 70px;
}

.dashboard_0{
    display: flex;
    justify-content: space-between;
    /* background-color: rgb(10, 156, 248); */
    background-color: #2196F3;
    color: white;
}
.dashboard_0 > div{
    display: flex;
    margin: 0 10px;
}
.dashboard_0 > div > div{
    display: flex;
    align-items: center;
    padding: 6px 10px;
    margin-bottom: 1.5px;
    border-bottom: 1.5px solid #ffd12a00;
    transition: 0.4s ease;
}
.dashboard_0 > div > div > a > p{
    font-size: 15px;
    transition: 0.4s ease;
}
.dashboard_0 > div > div:hover{
    border-bottom: 1.5px solid #ffd12a;
}
.dashboard_0 > div > div:nth-child(6){
    border-bottom: 1.5px solid #ffd12a00;
}

@media screen and (min-width:0px) and (max-width:700px){
.dashboardNav_100{
    display: flex;
    justify-content: space-between;
    padding: 0px 7px;
}
.dashboardNav_100 > div > a > p{
    color: whitesmoke;
    font-size: 13.5px;
}
.dashboardNav_100{
    padding: 10px;
}
.dashboardNav_100 > div{
    font-size: 16px;
    font-weight: bold;
}
.dashboardNav_100 > div >a> img{
    width: 55px;
}
}

@media screen and (min-width:0px) and (max-width:600px){
.dashboard_0 > div > div > a > p{
    font-size: 12px;
}
.dashboard_0 > div{
    display: flex;
    margin: 0 5px;
}
}