*{
    margin: 0;
    padding: 0;
}
.AdminPanCard_0{
    display: flex;
    justify-content: space-between;
}
.AdminPanCard_1{
    display: flex;
    /* border: 1px solid red; */
    /* margin: 10px 5px; */
}
.AdminPanCard_1 > div:nth-child(1){
    display: flex;
    justify-content: center;
    /* align-items: center; */
    border: 1px solid red;
}

/* .AdminPanCard_subnav{
    background-color: #313131;
    display: flex;
    justify-content: space-between;
}
.AdminPanCard_subnav > div{
    width: 45%;
    border: 1px solid blue;
    display: flex;
}
.AdminPanCard_subnav > div > img{
    display: block;
    width: 30px;
    height: 30px;
    margin-left: -1cm;
}
.AdminPanCard_subnav > div > input{
    width: 100%;
    height: 45px;
    padding: 5px 0 5px 10px;
    border-radius: 25px;
}
.AdminPanCard_subnav > div > select{
    height: 45px;
    border-radius: 25px;
} */