*{
    margin: 0;
    padding: 0;
}
/* dashboard_1 */

.individualPerson_1{
    background-color: #ECC94B;
    width: 80%;
    margin: 1cm auto;
    padding: 20px 15px;
    text-align: center;
    border-radius: 15px;
}
.individualPerson_1 > p{
    margin: 5px 0;
}
.individualPerson_head{
    text-align: center;
    width: 50%;
    border: 1.5px solid #ECC94B;
    margin: 1cm auto;
    color: rgb(45, 45, 45);
    padding: 10px 0;
    border-radius: 25px;
}

/* individualPerson_2 */

.individualPerson_2{
    background-color: white;
    border-radius: 10px;
    width: 80%;
    margin: 1cm auto;
    /* border: 1px solid red; */
    padding: 20px 20px;
}
.individualPerson_2 > div{
    /* border: 1px solid blue; */
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    margin: 15px 0;
}
.individualPerson_2 > div > div {
    width: 100%;
    background-color: white;
    /* border: 1px solid red; */
}
.individualPerson_2 > div > div > p{
    font-size: 13px;
    color: rgb(62, 62, 62);
    margin: 7px;
}
.individualPerson_2 > div > div > p > i{
    color: red;
}
.individualPerson_2 > div > div > input{
    width: 100%;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 5px;
}
.individualPerson_2 > div > div > input::placeholder{
    padding: 10px;
}
.individualPerson_2 > div > div > select{
    width: 100%;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 5px;
    color: grey;
}
.individualPerson_2 > h1{
    text-align: center;
    font-size: 25px;
}
.individualPerson_3{
    display: block;
    width: 40%;
    margin: 1cm auto;
    background-color: #ECC94B;
    border: 1.5px solid #ECC94B;
    color: rgb(50, 50, 50);
    padding: 15px;
    border-radius: 10px;
    transition: 0.3s ease;
}
.individualPerson_3:hover{
    background-color: white;
    /* color: #ECC94B; */
}

@media screen and (min-width:0px) and (max-width:1000px){
.individualPerson_1{
    width: 90%;
}
.individualPerson_2{
    width: 90%;
}
}

@media screen and (min-width:0px) and (max-width:850px){
.individualPerson_1{
    text-align: start;
}
.individualPerson_2{
    margin: 0.5cm auto;
}
.individualPerson_2 > div{
    display: block;
    margin: 15px 0;
}
.individualPerson_3{
    width: 60%;
}
}