*{
    margin: 0;
    padding: 0;
}

/* pancard_1 */
.pancard_1{
    /* background-color: rgba(48, 162, 255, 0.447); */
    border: 1.5px solid #00aeff;
    width: 65%;
    margin: 1cm auto;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
}
.pancard_1 > p{
    margin: 5px 0;
}
.pancard_2{
    width: 65%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    margin: auto;
}
.pancard_2 > div{
    background-color: #00aeff;
    text-align: center;
    padding: 15px 10px;
    color: rgb(23, 23, 23);
    border: 1.5px solid #00aeff;
    border-radius: 7px;
    transition: 0.4s ease;
}
.pancard_2 > div > a > p{
    font-size: 15px;
}
.pancard_2 > div:hover{
    background-color: white;
}

@media screen and (min-width:0px) and (max-width:700px){
.pancard_1{
    width: 93%;
}
.pancard_2{
    width: 93%;
}
}
@media screen and (min-width:0px) and (max-width:550px){
.pancard_1{
    width: 90%;
    text-align: start;
}
.pancard_2{
    width: 90%;
    grid-template-columns: repeat(1,1fr);
}
}